#ar-ui {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

#ar-button {
  margin-right: 16px;
}

#ar-info {
  font-size: 20px;
}
.ar-tag {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none; /* To ensure the tag does not interfere with interactions with AR objects */
  user-select: none; /* Prevent text selection */
}
